.button {
    width: 100%;
    background-color: rgb(0, 0, 243);
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(0, 0, 166);
}
