.message-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  overflow: hidden;
  font-size: 15px;
}
.message-avatarName {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.message-author {
  font-size: 12px;
}
.message-avatarName img {
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
.message-style {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 800px;
}
.message-text {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
}

.message-time {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  margin-left: 20px;
}
